__pycache__/
*.py[cod]
*$py.class
.env
.venv
uas-nlp/
ENV/

.vscode/
.idea/
.DS_Store
Thumbs.db

*.pth
*.pt
*.ckpt
*.bin
checkpoint_*.json
/workspace/TTS/
models/
best_model*

*.wav
*.mp3


runs/
/workspace/TTS/phoneme_cache/